/* Materias CSS (3ra Pagina) */

/* Header Section */
.header {
  background-color: white;
  padding: 25px;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header-title {
  text-align: center;  
}

.header-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 1 y 2da Sections */
.materias-actuales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.75rem;
  background-color:white;
  padding: 10px;
  border: solid black 1px;
}

.title-materias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text-materias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Footer Section */
.footer{
  background-color: white;
  padding: 25px;
  width: 100%;
}

.redes-title {
  background-color:white;
  text-align: center;
  padding: 14px;
}

.footer-title {
  text-align: center;
}

.footer-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}