body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
.header {
    background-color: white;
    padding: 25px;
    position: sticky;
    width: 100%;
  }
  
  .header-title {
    text-align: center;
  }
  
  .header-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Hero Section (Main Section) */
  .hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    grid-area: hero;
  }
  
  .hero-text {
    padding: 25px;
    text-align: center;
    font-size: 18px;
    border: solid black 1px;
  }
  
  .hero-reason {
    font-size: 1.25rem;
  }
  
  .topnav{
    padding:30px;
  }
  

  
  /* Footer Section */
  .footer{
    background-color: white;
    padding: 25px;
    width: 100%;
  }
  
  .redes-title {
    background-color:white;
    text-align: center;
    padding: 14px;
  }
  
  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }